asgiref
certifi
cffi
charset-normalizer
click
colorama
cryptography
defusedxml
Django
django-csv-importer
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
docopt
exceptiongroup
idna
iniconfig
mccabe
model-bakery
mypy-extensions
oauthlib
packaging
pathspec
platformdirs
pluggy
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
tomli
typing_extensions
gunicorn